In [8]:
t = (1,2,"d")
type(t)

tuple

In [6]:
li = [1,2,"f"]

In [7]:
li[2]

'f'

In [9]:
t[::-1]

('d', 2, 1)

In [14]:
#list mutable
li[2]="changed"

In [15]:
li

[1, 2, 'changed']

In [17]:
#tuple immutable
t[2]="not changed"

TypeError: 'tuple' object does not support item assignment

In [32]:
t = (1,2,3,3,5)

In [33]:
#tuple
t.count(3)

2

In [34]:
#list
li.count(2)

1

In [36]:
t.index(3)

2

In [37]:
li.index(2)

1

In [40]:
#tuple
t2=(1.3,4,5)

#concat
t+t2 #totally new entity
#but can't do insert() , append()

(1, 2, 3, 3, 5, 1.3, 4, 5)

# Set

In [61]:
s= set({})

In [62]:
type(s)

set

In [63]:
#not allow duplicate
s = set([1,2,3,3,3,2,"wohh"])

In [64]:
s = set((1,2,3,3,3,2,"wohh"))

In [65]:
s

{1, 2, 3, 'wohh'}

In [66]:
s[1] #not accessible

TypeError: 'set' object is not subscriptable

In [67]:
#iterable
for i in s:
    print(i)

1
2
3
wohh

In [68]:
s.pop() #first element in this case removed

1

In [75]:
s = {4,5,5,6,7,3,4,7,5,4,1,2,3344,2111,0,"sudh","kumar"}

In [79]:
s  #so set  is unordered collection of unique elements

{0, 1, 2, 2111, 3, 3344, 4, 5, 6, 7, 'kumar', 'sudh'}

# Dictionery

In [82]:
type({})

dict

In [93]:
kv = {"name" : "amit",
      "age" : 19}
kv

{'name': 'amit', 'age': 19}

In [97]:
# duplicate keys are n't allow
d = {"name" : "amit",
      "age" : 19
    , "name" : "shradha"}
d

{'name': 'shradha', 'age': 19}

In [99]:
d = {"name" : "amit",
      "age" : 19,
     # : "shradha"}

SyntaxError: unexpected EOF while parsing (<ipython-input-99-1f063d39c17d>, line 3)

In [102]:
d = {"name" : "amit",
      "age" : (19,2,16),
     "#" : "shradha"}
d

{'name': 'amit', 'age': (19, 2, 16), '#': 'shradha'}

In [108]:
d['age'][0]

19

In [110]:
#for keys
for i in d :
    print(i)

name
age
#

In [117]:
#for values
for i in d :
    print(d[i])

amit
(19, 2, 16)
shradha

In [118]:
d.keys()

dict_keys(['name', 'age', '#'])

In [119]:
d.values()

dict_values(['amit', (19, 2, 16), 'shradha'])

In [121]:
#alternate
for i in d.keys():
    print(d[i])

amit
(19, 2, 16)
shradha

In [124]:
t = []
for i in d.values():
    if type(i) == tuple :
            t.append(i)

In [125]:
t

[(19, 2, 16)]

In [129]:
#new key value on the fly
d["new"]="hey!"
d

{'name': 'amit', 'age': (19, 2, 16), '#': 'shradha', 'new': 'hey!'}

In [139]:
#mutable
d["new"]="oppo"
d

{'name': 'amit', 'age': (19, 2, 16), '#': 'shradha', 'new': 'oppo'}

**dictionery comprehension**

In [140]:
d = {}
for i in range(10):
    d[i]=i**2

In [141]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [145]:
l = ["sudh","kumar","xyz","abc"]
d = {}
for i in l:
    d[i] = i.upper()
d

{'sudh': 'SUDH', 'kumar': 'KUMAR', 'xyz': 'XYZ', 'abc': 'ABC'}

In [146]:
#compehension : means write multiline code into single line code
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Function

In [147]:
d.items()

dict_items([('sudh', 'SUDH'), ('kumar', 'KUMAR'), ('xyz', 'XYZ'), ('abc', 'ABC')])

In [148]:
#function
def test():
    a=4
    b=3
    print(a+b)

In [149]:
test()

7

In [150]:
#so when you return something inside function
#using print operation then , will return runtime 
#on which can't do any operations like ; concatenation() etc.
#so we have to use "return" function

In [156]:
def test():
    a=3
    b=4
    return a+b

In [157]:
test()

7

In [158]:
def test(a,b):
    return a+b

In [159]:
test(3,4)

7

In [1]:
def test():
    return "sudh",[4,5,6,7],{"key":45,"key1":345}

In [11]:
test()

('sudh', [4, 5, 6, 7], {'key': 45, 'key1': 345})

In [15]:
_,__,u

('sudh', [4, 5, 6, 7], {'key': 45, 'key1': 345})

In [16]:
u

{'key': 45, 'key1': 345}

In [17]:
_

'sudh'

In [18]:
__

[4, 5, 6, 7]